<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>
<mat-toolbar color="primary" class="mat-secondary mat-elevation-z8">
  <span>Banda:</span>
  <mat-select [compareWith]="checkCurrentBand" [formControl]="currentBand" (selectionChange)="switchBand($event)"
    class="switch-band">
    <mat-option value>Nova banda</mat-option>
    <mat-option *ngFor="let band of bands$ | async" [value]="band">
      {{band.name}}
    </mat-option>
  </mat-select>
  <button mat-raised-button color="accent" matTooltip="Cadastrar album" (click)="openAlbumDialog({})">
    <mat-icon>album</mat-icon>
    Cadastrar album
  </button>

  <span class="spacer"></span>
</mat-toolbar>
<div class="container" *ngIf="band$ | async as band">
  <div class="row flex-1 mb-20px">
    <mat-card class="custom action col mw-2" *ngFor="let card of cards" (click)="onCardClick(card.action, band)">
      <mat-card-header>
        <div mat-card-avatar [class]="card.icon"></div>
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="row flex-1">
    <mat-card class="custom mb-20px col mw-2">
      <mat-card-header>
        <div mat-card-avatar class="people"></div>
        <mat-card-title>{{band.name}}</mat-card-title>
        <mat-card-subtitle>{{band.description}}</mat-card-subtitle>
      </mat-card-header>
      <owl-musician-repertoire [parentForm]="repertoireForm"></owl-musician-repertoire>
    </mat-card>
    <mat-card class="custom mb-20px col mw-2">
      <owl-musician-band-member *ngFor="let m of band.musicians" [member]="m"></owl-musician-band-member>
    </mat-card>
    <mat-card class="custom mb-20px col mw-2">
      <owl-musician-band-member *ngFor="let m of band.musicians" [member]="m"></owl-musician-band-member>
    </mat-card>
    <mat-card class="custom mb-20px col mw-2">
      <owl-musician-albums [band]="band" (onSelect)="onSelectAlbum($event)"></owl-musician-albums>
    </mat-card>
    <mat-card class="custom mb-20px col mw-2">
      <owl-musician-albums [band]="band" (onSelect)="onSelectAlbum($event)"></owl-musician-albums>
    </mat-card>
  </div>
</div>