:host {
  display: flex;
  flex-flow: column;
  // height: calc(100% - 64px);
}
.container {
  flex-flow: column;
}
.switch-band {
  max-width: 160px;
  margin-left: 20px;
  margin-right: 60px;
}
.mat-select-panel {
  font-size: 16px;
}
mat-card.action {
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: .6;
  &:hover {
    cursor: pointer;
    zoom: 1;
    opacity: 1;
  }
}
// mat-card {
//   padding: 0px;
//   margin: 20px;
//   .cover-wrapper {
//     width: 100%;
//     height: 160px;
//     .cover-image {
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-size: cover;
//       background-position: center;
//     }
//   }
//   mat-card-header {
//     color: #fff;
//   }
// }
// mat-card.member {
//   background-color: #D35933;
//   .cover-image {
//     background-image: url('/assets/svg-images/people.svg')
//   }
// }
// mat-card.album {
//   background-color: #D95459;
//   .cover-image {
//     background-image: url('/assets/svg-images/multimedia.svg')
//   }
// }
// mat-card.music {
//   background-color: #366695;
//   .cover-image {
//     background-image: url('/assets/svg-images/music.svg')
//   }
// }
// mat-card.list {
//   background-color: #273B7A;
//   .cover-image {
//     background-image: url('/assets/svg-images/list.svg')
//   }
// }
// mat-card.calendar {
//   background-color: #263A7A;
//   .cover-image {
//     background-image: url('/assets/svg-images/calendar.svg')
//   }
// }