<h1 mat-dialog-title>
  <mat-icon>info</mat-icon>
  <span>Membros</span>
</h1>
<div mat-dialog-content>
  <owl-musician-search (onSelect)="addMember($event)"></owl-musician-search>
  <owl-musician-band-member-form *ngFor="let control of membersControls" [id]="control"
    [parentForm]="members.controls[control]"></owl-musician-band-member-form>
</div>
<div mat-dialog-actions class="flex flex-space-between">
  <button mat-button (click)="onCancel()">Fechar</button>
  <button mat-stroked-button type="button" (click)="onSave()" [disabled]="form.invalid">Salvar</button>
</div>