<ng-template #loading>
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</ng-template>
<form [formGroup]="form" class="container">
  <!-- <pre>{{band|json}}</pre> -->
  <div class="row flex-1">
    <div class="col w-6">
      <mat-card class="custom mb-20px">
        <mat-card-header>
          <div mat-card-avatar class="music"></div>
          <mat-card-title>Perfil de músico</mat-card-title>
          <mat-card-subtitle>Atualizado em</mat-card-subtitle>
        </mat-card-header>
        <div class="content">
          <!-- <owl-musician-profile-form [parentForm]="form"></owl-musician-profile-form> -->
        </div>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card class="custom">
        <mat-card-header>
          <div mat-card-avatar class="music"></div>
          <mat-card-title>Repertório</mat-card-title>
          <mat-card-subtitle>Atualizado em</mat-card-subtitle>
        </mat-card-header>
        <div class="content">
          <!-- <pre>{{form.value|json}}</pre> -->
        </div>
      </mat-card>
    </div>
    <div class="col w-2">
      <mat-card class="custom">
        <mat-card-header>
          <div mat-card-avatar class="music"></div>
          <mat-card-title>Gêneros</mat-card-title>
          <mat-card-subtitle>Atualizado em</mat-card-subtitle>
        </mat-card-header>
        <div class="content">
          <!-- <owl-musician-genres-form [parentForm]="genres"></owl-musician-genres-form> -->
        </div>
      </mat-card>
    </div>
  </div>
  <!-- </div> -->
</form>