<form [formGroup]="parentForm">
  <div class="row">
    <mat-form-field class="col full-width" appearance="outline">
      <mat-label>Nome da banda</mat-label>
      <input matInput formControlName="name" required>
      <mat-error>Obrigatório</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput placeholder="Conte um pouco sobre a banda..." #desc formControlName="description" required></textarea>
      <mat-hint align="end">{{desc.value?.length || 0}}/1000</mat-hint>
      <mat-error>Mínimo de 50 e máximo de 1000</mat-error>
    </mat-form-field>
  </div>
</form>